[[source]]
name = "ali"
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[dev-packages]

[packages]
djangorestframework = "*"
psycopg2-binary = "*"
gunicorn = "*"

[requires]
python_version = "3.8"
